<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{{.data.RomName}} - {{.data.Console}} - WebGame</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo-310x310.png" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                WEBGAME
            </a>
        </div>
    </nav>
    <div class="container">
        <p>
            <div style="text-align:center;">
                <h3>{{.data.Console}}<br>{{.data.RomName}}</h3>
            </div>
        </p>
        <p>
            <div style="width:640px;height:480px;max-width:100%;margin:auto;">
                <div id="game"></div>
            </div>
            <script type="text/javascript">
                EJS_player = "#game";
                EJS_gameName = {{.data.RomName}};
                EJS_gameID = 1;
                EJS_pathtodata = "https://cdn.emulatorjs.org/stable/data/";
                EJS_core = {{.data.Emulator}};
                EJS_gameUrl = {{.data.RomRoute}};
                {{if .data.BiosUrl}}EJS_biosUrl = {{.data.BiosRoute}};{{end}}
                {{if .data.Threads}}EJS_threads = {{.data.Threads}};{{end}}
                EJS_volume = 1;
                EJS_defaultOptions = JSON.parse({{.data.Options}});
                EJS_language = "pt-BR";        
            </script>
            <script src="https://cdn.emulatorjs.org/stable/data/loader.js"></script>
        </p>
    </div>
</body>
</html>